<ng-container *ngIf="post$ | async as post">
  <div class="post-detail">
    <div class="image-container"><img [src]="post.postPath"></div>
    <div class="post-info">
      <div class="user-info">
        <img src="https://mtm-bitirme.s3.amazonaws.com/images/3/20220428001240" class="avatar">
        <p class="nickname">{{post.nickName}}</p>
      </div>
      <p class="title">{{post.postTitle}}</p>
      <p class="description">{{post.postDescription}}</p>
      <app-leave-comment (isChanged)="refreshComments()"  [postId]="post.postId"></app-leave-comment>
      <ng-container *ngFor="let comment of comments$ | async">
        <app-comment [comment]="comment"></app-comment>
      </ng-container>
    </div>
  </div>

</ng-container>
