<ng-container *ngIf="post$ | async as post">
  <div class="post-detail">
    <div (click)="openZoomDialog(post.postPath!)" class="image-container"><img [src]="post.postPath"></div>
    <div class="post-info">
      <div [routerLink]="'/'+post.nickName" class="user-info">
        <app-profile-photo class="avatar" [nickname]="post.nickName" [profilePhoto]="post.profilePhotoPath"></app-profile-photo>
        <p class="nickname">{{post.nickName}}</p>
      </div>
      <p class="title">{{post.postTitle}}</p>
      <p class="description">{{post.postDescription}}</p>
      <app-leave-comment (isChanged)="refreshComments()"  [postId]="post.postId"></app-leave-comment>
      <ng-container *ngFor="let comment of comments$ | async">
        <app-comment [comment]="comment"></app-comment>
      </ng-container>
    </div>
  </div>

</ng-container>
