@import 'src/styles';
.list-container{
  display: grid;
  width: 100%;
  min-height: fit-content;
  padding: 16px 64px;
  grid-template-columns: repeat(auto-fill, minmax(324px,1fr));
  gap: 24px;
  place-content: center;
  margin-top: 92px;
  @media screen and (max-width: $tablet) {
    padding: 16px;
  }

  .post-wrapper{
    display: grid;
    place-content: center;
  }
}
