@import "src/styles";
form > div{
  position: relative;
  display: flex;
  flex-direction: column;
  label > textarea {
    font-size: 0.85rem;
    font-weight: 300;
    max-width: 100%;
    min-width: 100%;
    max-height: 100px;
    min-height: 100px;
    border: 1px solid $blue;
    caret-color: $gray-blue-light;
    color: $gray-blue-light;
    margin-bottom: 8px;
  }
}
