<header>
  <div routerLink="/home" class="logo">
    <img src="assets/images/logo.png">
    <p>artificat</p>
  </div>
  <div class="navigations">
    <div style="margin-right: 32px; font-size: 16px">Popüler Yayınlar</div>
    <div style="margin-right: 32px; font-size: 16px">İlham Panosu</div>
  </div>
  <div class="nav-btn-container">
    <button (click)="openPostForm()" class="create-post"><span><i class="bi bi-cloud-plus"></i></span>Paylaş</button>
    <ng-container *ngIf="currentUser$ | async as user; else login">
      <app-user-badge [user]="user"></app-user-badge>
    </ng-container>
    <ng-template #login>
      <button routerLink="/login" class="btn btn-primary">Giriş Yap</button>
    </ng-template>
  </div>
</header>
