<div class="post-container" (mouseenter)="isHovered=true" (mouseleave)="isHovered=false">
  <div class="img-wrapper">
    <img [src]="post.postPath" alt=''>
    <ng-container *ngIf="isHovered">
      <div class="img-info">
        <p class="title">{{post.postTitle}}</p>
        <app-add-to-favorites [post]="post" [context]="'action'"></app-add-to-favorites>
      </div>
    </ng-container>
  </div>
  <div class="post-info">
    <div [routerLink]="'/'+post.nickName" class="user-info">
      <div class="avatar">
        <img src='https://pbs.twimg.com/profile_images/1503011405955575809/O_DUE5ew_400x400.jpg'>
      </div>
      <p class="nickname">{{post.nickName}}</p>
    </div>
    <app-add-to-favorites [post]="post" [context]="'info'"></app-add-to-favorites>
  </div>
</div>
