<app-navigation-bar></app-navigation-bar>
<div style="display: flex; width: 100%; padding: 16px 32px; justify-content: space-between; display: flex; margin-top: 92px">
  <app-post-cart></app-post-cart>
  <app-post-cart></app-post-cart>
  <app-post-cart></app-post-cart>
  <app-post-cart></app-post-cart>
</div>
<div style="display: flex; width: 100%; padding: 16px 32px; justify-content: space-between; display: flex">
  <app-post-cart></app-post-cart>
  <app-post-cart></app-post-cart>
  <app-post-cart></app-post-cart>
  <app-post-cart></app-post-cart>
</div>
<div style="display: flex; width: 100%; padding: 16px 32px; justify-content: space-between; display: flex">
  <app-post-cart></app-post-cart>
  <app-post-cart></app-post-cart>
  <app-post-cart></app-post-cart>
  <app-post-cart></app-post-cart>
</div>
<div style="display: flex; width: 100%; padding: 16px 32px; justify-content: space-between; display: flex">
  <app-post-cart></app-post-cart>
  <app-post-cart></app-post-cart>
  <app-post-cart></app-post-cart>
  <app-post-cart></app-post-cart>
</div>
<div style="display: flex; width: 100%; padding: 16px 32px; justify-content: space-between; display: flex">
  <app-post-cart></app-post-cart>
  <app-post-cart></app-post-cart>
  <app-post-cart></app-post-cart>
  <app-post-cart></app-post-cart>
</div>
<router-outlet></router-outlet>
