<form>
  <label for="txtPostTitle">
    <p>Gönderi Başlığı</p>
    <input class="txt-input" id="txtPostTitle" type="text" autocomplete="off">
  </label>
  <label for="txtPostDesc">
    <p>Açıklama</p>
    <input class="txt-input" id="txtPostDesc" type="text" autocomplete="off">
  </label>
  <div class="drag-area">

  </div>
  <div class="btn-container">
    <button class="btn btn-primary">Vazgeç</button>
    <button type="submit" class="btn btn-primary">
      Paylaş
    </button>
  </div>
</form>
