<form>
  <label for="txtPostTitle">
    <p>Gönderi Başlığı</p>
    <input class="txt-input" id="txtPostTitle" type="text" autocomplete="off">
  </label>
  <label for="txtPostDesc">
    <p>Açıklama</p>
    <textarea class="txt-input" id="txtPostDesc" autocomplete="off"></textarea>
  </label>
  <div
    (dragover)="isDragged=true"
    (dragleave)="isDragged=false"
    class="drag-area"
    [class]="isDragged?'active':''">
    <span class="icon"><i class="bi bi-cloud-arrow-up-fill"></i></span>
    <p class="header">{{isDragged?'Yüklemek için bırak':'Sürükle & Bırak'}}</p>
    <p>ya da</p>
    <button class="btn btn-upload"><input type="file" hidden>Dosya seç</button>
  </div>
  <div class="btn-container">
    <button mat-dialog-close class="btn btn-primary btn-cancel">Vazgeç</button>
    <button type="submit" class="btn btn-primary btn-submit">
      Paylaş
    </button>
  </div>
</form>
