@import "src/styles";
.comment-container{
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  color: $gray-blue;
  .user-info{
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $blue;
    padding: 4px 0;
    .avatar{
      width: 36px;
      height: 36px;
      margin-right: 8px;
    }
    .nickname{
      font-weight: 500;
      color: $gray-blue-light;
    }
  }
  .comment{
    padding: 8px;
    p {
      font-size: 0.875rem;
    }
  }
}
