/* You can add global styles to this file, and also import other style files */
@import 'assets/styles/variables';
@import 'assets/styles/button';
@import 'assets/styles/form';
@import "~bootstrap-icons/font/bootstrap-icons.css";
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-primary, $font-secondary, $font-third;
  font-weight: normal;
  font-size: 16px;
}
body{
  width: 100%;
  min-height: 100vh;
  background-color: $main-blue;
}
::-webkit-scrollbar{
  width: 16px;
}
::-webkit-scrollbar-track{
  background: $dark-blue;
}
::-webkit-scrollbar-thumb{
  border-radius: 16px;
  background: $blue;
  border: 1px groove $blue-light;
}
mat-dialog-container{
  padding: 0 !important;
  box-shadow: 0 0 50px $blue !important;
  background-color: $blue !important;
  border-radius: 16px !important;
}
.snack-success{
  color: $gray-blue-light;
  background-color: $blue;
}
.snack-info{
  color: $gray-blue-light;
  background-color: $blue-light;
}
.snack-error{
  color: $white;
  background-color: #D0342C;
}

