<div class="profile-header">
  <div class="banner-image"><img src="https://www.bannerbatterien.com/upload/filecache/Banner-Batterien-Windrder2-web_06b2d8d686e91925353ddf153da5d939.webp"></div>
  <div class="profile-description">
    <div class="info-container">
      <div class="avatar-image"><img src="https://pbs.twimg.com/profile_images/1503011405955575809/O_DUE5ew_400x400.jpg"></div>
      <div class="text">
        <p class="nickname">Yasigneer</p>
        <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
      </div>
    </div>
    <button class="btn">Profili Düzenle</button>
  </div>
</div>
