@import 'variables';
button{
  border: none;
}
.btn{
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 20px;
  transition: 0.5s all;
  &-primary{
    color: $main-blue;
    background-color: $gray-blue-light;
    &:hover{
      color: $gray-blue-light;
      background-color: inherit;
      border: 1px solid $blue-light;
      box-shadow: 0 5px 45px $blue-light;
    }
  }
  &-secondary{
    color: $gray-blue-light;
    background-color: $main-blue;
    &:hover{
      color: $main-blue;
      background-color: inherit;
      border: 1px solid $blue;
    }
  }
}
