@import 'variables';
button{
  border: none;
  &[disabled]{
    cursor: not-allowed;
  }
}
.btn{
  border-radius: 12px;
  cursor: pointer;
  padding: 10px 20px;
  transition: 0.5s;
  &-primary{
    color: $gray-blue-light;
    background-color: $blue;
    border: 1px solid $main-blue;
    &:hover:not([disabled]){
      color: $gray-blue-light;
      background-color: inherit;
      border: 1px solid $blue-light;
      box-shadow: 0 5px 10px $blue-light;
      transform: translateY(-3px);
    }
  }
  &-secondary{
    color: $gray-blue-light;
    background-color: $main-blue;
    border: 1px solid $main-blue;
    &:hover:not([disabled]){
      color: $main-blue;
      background-color: inherit;
      border: 1px solid $blue;
    }
  }
}
