@import 'variables';

input,input:focus,input:hover,input:focus-visible,
textarea,textarea:focus,textarea:hover,textarea:focus-visible{
  border: none;
  outline: none;
  box-shadow: none;
  background-color: inherit;
  border-radius: 4px;
  resize: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,{
  background-color: inherit !important;
}
.txt-input{
  color: $dark-blue;
  caret-color: $dark-blue;
  background-color: inherit;
  border: 1px solid $dark-blue;
  padding: 10px 20px;
  transition: 0.5s all;
  &:hover, &:focus{
    border: 1px solid $blue-light;
    box-shadow: 0 0 10px $blue-light;
  }
}
