//font types
$font-primary: Helvetica;




// color palette
$gray-dark: #1f1f1f;
$gray: #333333;
$gray-medium: #474747;
$gray-light: #646464;
$yellow-light: #ffedbb;
$yellow: #ffcc66;
$blue: #006766;
$blue-light: #20a19f;
$white: #e8e8e8;


//  Media query size variable
$large_desktop: 1450px;
$small_desktop: 1280px;
$tablet: 992px;
$max_tablet: 991px;
$phablet: 768px;
$max_phablet: 767px;
$mobile: 480px;
