//font types
$font-primary: Helvetica;




// color palette
$dark-blue: #111022;
$main-blue: #171b36;
$dark-gray-blue: #5b5d71;
$gray-blue: #77778f;
$gray-blue-light: #a9a3a9;
$yellow: #ffcc66;
$blue: #172736;
$blue-light: #28545e;
$white: #e8e8e8;


//  Media query size variable
$large_desktop: 1450px;
$small_desktop: 1280px;
$tablet: 992px;
$max_tablet: 991px;
$phablet: 768px;
$max_phablet: 767px;
$mobile: 480px;
