<div class="profile-cart">
  <div class="profile-photo">
    <img src="https://pbs.twimg.com/profile_images/1503011405955575809/O_DUE5ew_400x400.jpg">
  </div>
  <div class="user-info">
    <p class="nickname">{{user.nickName}}</p>
    <p class="description">{{user.description}}</p>
  </div>
  <button class="btn">Profili Düzenle</button>
  <div class="user-summary">
    <div class="count project-count"><p>Projeler</p><p>15</p></div>
    <div class="count fav-count"><p>Favoriler</p><p>5467</p></div>
  </div>
  <div class="connections">
    <button class="btn"><span><i class="bi bi-instagram"></i></span>İnstagram</button>
    <button class="btn"><span><i class="bi bi-twitter"></i></span>Twitter</button>
  </div>
</div>
