<div class="profile-cart">
  <app-profile-photo
    [nickname]="user.nickName"
    [profilePhoto]="user.profilePhotoPath"
    class="profile-photo">
  </app-profile-photo>
  <div class="user-info">
    <p class="nickname">{{user.nickName}}</p>
    <p class="description">{{user.description}}</p>
  </div>
  <ng-container *ngIf="currentUser$ | async as currentUser">
    <button
      *ngIf="currentUser.userId == user.userId"
      (click)="openProfileForm(currentUser)"
      class="btn">
      Profili Düzenle
    </button>
    <app-follow-button
      *ngIf="currentUser.userId != user.userId"
      [userId]="user.userId"
      [currentUserId]="currentUser.userId"
    >
    </app-follow-button>
  </ng-container>
  <div class="user-summary">
    <div class="count follower-count"><p>Takipçiler</p><p>{{user.followerCount}}</p></div>
    <div class="count follow-count"><p>Takip Edilenler</p><p>{{user.followingCount}}</p></div>
    <div class="count project-count"><p>Projeler</p><p>{{user.postCount}}</p></div>
  </div>
  <div class="connections">
    <a *ngIf="user.instagram" target="_blank" [href]="'https://www.instagram.com/'+user.instagram"><button class="btn"><span><i class="bi bi-instagram"></i></span>İnstagram</button></a>
    <a *ngIf="user.twitter" target="_blank" [href]="'https://www.twitter.com/'+user.twitter"><button class="btn"><span><i class="bi bi-twitter"></i></span>Twitter</button></a>
  </div>
</div>
