<div class="profile-cart">
  <app-profile-photo
    [nickname]="user.nickName"
    [profilePhoto]="user.profilePhotoPath"
    class="profile-photo">
  </app-profile-photo>
  <div class="user-info">
    <p class="nickname">{{user.nickName}}</p>
    <p class="description">{{user.description}}</p>
  </div>
  <ng-container *ngIf="currentUser$ | async as currentUser">
    <button
      *ngIf="currentUser.userId == user.userId"
      (click)="openProfileForm(currentUser)"
      class="btn">
      Profili Düzenle
    </button>
  </ng-container>
  <div class="user-summary">
    <div class="count project-count"><p>Projeler</p><p>15</p></div>
    <div class="count fav-count"><p>Favoriler</p><p>5467</p></div>
  </div>
  <div class="connections">
    <button class="btn"><span><i class="bi bi-instagram"></i></span>İnstagram</button>
    <button class="btn"><span><i class="bi bi-twitter"></i></span>Twitter</button>
  </div>
</div>
